<nav class="navbar bg-light">
  <div class="container-md">
    <a class="navbar-brand fw-bold" href="#">家庭記帳本</a>
    <form action="/logout">
      <button type="submit" class="btn btn-outline-danger">Logout</button>
    </form>
  </div>
</nav>