<nav class="navbar bg-light">
  <div class="container-md">
    <a class="navbar-brand fw-bold" href="#">家庭記帳本</a>
    <div class="d-flex gap-3 align-items-center">
      <p class="m-0">Hello, {{user.name}}!</p>
      <form action="/logout">
        <button type="submit" class="btn btn-outline-danger">Logout</button>
      </form>
    </div>
    
  </div>
</nav>