<div class="container d-flex  justify-content-center mt-5">
  <form action="/login" method="post" class="col-md-5 row gap-3">
    <h1 class="text-center fw-bold mt-5 mb-4">記帳筆記本</h1>
    <div class="col-12">
      <input type="email" class="form-control mb-3 p-3" name="email" placeholder="輸入Email">
    </div>
    <div class="col-12">
      <input type="password" class="form-control p-3" name="password" placeholder="輸入密碼">
    </div>
    <div class="col-12 d-flex justify-content-center mt-3 px-2">
      <button type="submit" class="btn btn-primary p-2 col-md-5 col-12 ">登入</button>
    </div>
  </form>
</div>