{{>header}}
<div class="container text-center">
  {{> message}}
</div>
<h2 class="fw-bold text-center my-3">請輸入你的支出</h2>
<div class="container d-flex justify-content-center">
  <form action="/records" method="post" style="max-width: 800px; width: 100%;">
    {{> record-form}}
  </form>
</div>