<div class="container mt-3">
  <div class="row d-flex justify-content-center ">
    <h1 class="text-center fw-bold mt-5 ">記帳本</h1>
    <p class="mb-3 text-center">註冊頁</p>
    <form action="/login" method="post" class="col-md-5 row gap-3">
      <div class="col-12">
        <input type="name" class="form-control p-3" name="name" placeholder="輸入名字">
      </div>
      <div class="col-12">
        <input type="email" class="form-control p-3" name="email" placeholder="輸入Email">
      </div>
      <div class="col-12">
        <input type="password" class="form-control p-3" name="password" placeholder="輸入密碼">
      </div>
      <div class="col-12">
        <input type="password" class="form-control p-3" name="passwordCheck" placeholder="輸入確認密碼">
      </div>
      <p class="text-end font-monospace">已經註冊過?按這裡前往<a href="/login" class="text-decoration-none">登入</a></p>
      <div class="col-12 d-flex justify-content-center px-2">
        <button type="submit" class="btn btn-primary p-2 col-md-5 col-12 ">登入</button>
      </div>
    </form>

  </div>

</div>